
---
import BaseLayout from '../layouts/layout.astro';
import Hero from '../components/hero.astro';
---
<BaseLayout>
  <div class="min-h-screen bg-orange-500 text-white flex items-center justify-center">
		<Hero />
	</div>
</BaseLayout>
