
---

---
<section class="h-screen flex items-center justify-center bg-brand-orange text-white relative overflow-hidden">
  <img
		src="data/images/brand/logo_blue.png"
    alt="Snacklebox Logo"
    class="max-w-[80%] h-auto drop-shadow-xl"
  />
</section>
